h1 {
    color: blue;
    font: 20px;
    font-family: Arial;
}
h2 {
    color: blueviolet;
    font-size: 15px;
    font-family: arial ;
}
p{
    /*  buat mewarnai kata */
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    /* buat mengatur format paragraf/text */
    text-align: left;
    text-transform: capitalize;
}
label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
body {background-color: aqua;
     background-image: url(:C\ Users\ firdaus\ Music\ menara.jpeg);
     /*background-repeat:no-repeat; */
     /*background-position: bottom center;*/
     background-size: 100%;
}
label:last-of-type{
    color: blue
}
