 .header{
        height: 50%;
        width: 50%;
        background-color: aqua;
        color: blue;
        font: 20px;
        font-family: Arial;
 }
 p{
    /*  buat mewarnai kata */
    color: black;
    font-family: Arial;
    font-size: 15px;
    /* buat mengatur format paragraf/text */
    text-align: left;
    text-transform: capitalize;
}
label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
body {/*background-color: aqua;*/
     background: url(menara.jpeg) no-repeat;
     /*background-position: bottom center;*/
     background-size: cover;
}
label:last-of-type{
    color: blue
}
